
.doctorList{
    display: flex;
}

.doctorList .profile_cont{
    height: 110px;
    width: 110px;
    border-radius: 10px;
}

.profile_cont img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.doctorList .para{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1rem;
}
.para a{
    color: #212529;
    font-weight: 500;
}

.para .para_p1{
    margin: 4px 0px;
}
